# Ignore the contributor's local assets folder, subfolders, and files
Project Grits/Assets/~Local/*
Project Grits/Assets/~Local/**/*

# Ignore Library files
Project Grits/Library/*
Project Grits/Library/**/*

# Ignore local build files
Project Grits/obj/*
Project Grits/obj/**/*
Project Grits/Temp/*
Project Grits/Temp/**/*

# Ignore local project files
Project Grits/*.csproj
Project Grits/*.pidb
Project Grits/*.sln
Project Grits/*.suo
Project Grits/*.unityproj
Project Grits/*.userprefs